.contact-content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
}

.contact-background{
    background-image: url(contact-background.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    background-position-y: -2rem;
}


.contact-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    /* border-style: solid;
    color: black; */
    padding: 1rem;

}

.contact-form-container{
    width:100%;
    background-color: #545454;
    padding: 1.5rem;
    border-radius: 5px;
}
.contact-form-container h3{
    margin-bottom: 1rem;
    margin-top: 0;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input{
    margin-bottom: 1.5rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    border-style: hidden;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}


.contact-form textarea{
    margin-bottom: 1.5rem;
    border-radius: 2px;
    border-style: hidden;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: 4rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.contact-button{
    display: flex;
    justify-content: center;
}

.contact-button i{
    color: #fff;
    font-size: 1rem;
}

.contact-form button{
    margin-bottom: 1.5rem;
    background-color: #E12D1D;
    border-style: hidden;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
    border-radius: 2px;
}

.contact hr{
    width: 20%;
}


@media only screen and (min-width: 1425px){
    .contact-form-container{
            max-width: 40%;
            margin: 1rem;
        }
        .contact-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .contact-background {
        background-position-y: -15rem;

    }

}

@media only screen and (max-width: 1424px) and (min-width: 1091px) {

        .contact-form-container{
            max-width: 40%;
            margin: 1rem;
        }

        .contact-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .contact-background {
        background-image: url(contact-background.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        background-position-y: -10rem;

    }

    



}

@media only screen and (max-width: 1090px) and (min-width: 500px) {

        .contact-form-container{
            max-width: 40%;
            margin: 1rem;
        }

        .contact-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .contact-background{
        background-position-y: -1rem;
    }



}

@media only screen and (max-width: 700px){
     .contact-background {
         background-position-y: 20rem;
     }
}