

html {
    font-size: 16px;
    scroll-behavior: smooth;
    
}


body {
    margin: 0;
    font-family: 'Helvetica Neue';
    
}

* { 
    color:#fff; 
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.first {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.type-container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: center;
}

.type-container p{
    font-size: 4.5rem;
}

h2 {
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.divider{
    background-color: black;
    width: 30%;
    height: 1rem;
    outline: none;
    margin-bottom: 5rem;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: none;
}

.text-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    /* border-style: solid;
    color: black; */
}

h4{
    font-size: 3rem;
    margin: 1rem;
    color: black;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 1rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

/* .about-me {
    background-color: rgb(20, 20, 20);
} */

.content{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.about-icons{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
}
.about-icon{
    font-size: 7rem;
    margin: 1rem;
}
.about-icon:hover{
    transition: all 0.5s ease;
    font-size: 8rem;
}
.about-icon i{
    color: #545454;
}

.image-box{
    padding-left: 3rem;
    margin-bottom: 7rem;
}

.project-content{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
    background-color: #EDEDED;
}


.project-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    /* border-style: solid;
    color: black; */
    padding: 1rem;
}

.card{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.41);;
}

.card-title{
    background-color: #E12D1D;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title h4{
    color: #fff;
}


.card-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.card-image img{
    width: 50rem;
    overflow: hidden;
}

.card-image i{
    color: black;
    opacity: .8;
    z-index: 10020;
    font-size: 10rem;
    position: absolute;
    margin-top: 8rem;
}

.card-image i:hover{
    transition: all 0.5s ease;
    font-size: 12rem;
    color: #E12D1D;
}

.card-description {
    margin-top: 0;
}
.card-description p{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
}

.card hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: none;
    background-color: #DBDBDB;
    width: 75%;
    height: .3rem;
    outline: none;
    margin-bottom: 1rem;
}

.card-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-icon {
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.card-icon i{
    color: #545454;
    font-size: 5rem;
}

.card-icon i:hover{
    color: #E12D1D;
    transition: all 0.5s ease;
}

.project-buttons{
    margin: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-button{
    background-color: #E12D1D;
    border-radius: 20px;
    padding: 2rem;
    width: 15rem;
    text-align: center;
    margin-bottom: 5rem;
}

.project-button h5{
    font-size: 2.5rem;
}

.skill-content{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    margin-bottom: 20rem;
    margin-top: 5rem;
}

.skill-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    padding: 1rem;
    background-color: #2B4764 ;
    border-radius: 20px;
}

.skill-icon {
    padding: 2rem;
    margin-bottom: 1rem;
}

.skill-icon i{
    color: #fff;
    font-size: 15rem;
}

.skill-icon i:hover{
    color: #E12D1D;
    transition: all 0.5s ease;
}

.contact-content{
    padding: 2rem;
    background-color: black;
}

.contact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0rem;
}


.contact-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-icon {
    padding: 1.5rem;
    margin-bottom: 0rem;
}

.contact-icon i{
    color: #545454;
    font-size: 7rem;
}

.contact-icon i:hover{
    color: #E12D1D;
    transition: all 0.5s ease;
}


/* .navbar{
    display: none;
} */


@media screen and (min-width: 768px) {

    .type-container{
        font-size: 3rem;
    }
    
}
