/* Navbar Styling */

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    background-color:black;
    position:fixed;
    width: 100%;
    /* box-shadow: 0rem .5rem 1rem black; */
    height: 4rem;
    z-index: 1;
}

.main-nav{
    display: none;
}

.mobile-menu {
    font-size: 1rem;
    position: fixed;
    right: -7rem;
    top: 3rem;
    z-index: 1000000;
    width: 15rem;
}

li{
    list-style-type: none;
}


.main-menu {
    display: none;
    /* box-shadow: 0rem .5rem .5rem black; */
    background-color: black;
    padding: 10px;
    margin: 0;
}

.nav-links{
    background-color: #fff;
    color:black;
    width: 100%;
    text-align: start;
    padding: 1rem;
}

.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-menu li {
    display: flex;
    text-align: center;
    justify-self: flex-end;
    padding: .2rem;
}
.main-menu ul {
        padding: .2rem;
}

.slide-left{-webkit-animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-13 17:17:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-left{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}}@keyframes slide-left{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}}

.logo {
    display: inline-block;
    font-size: 2rem;
    margin-left: 1rem;
}

.navbar-toggle {
    display: flex;
    right: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    position: absolute;
    margin-right: 1rem;

}

.active {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}


@media only screen and (min-width: 768px) {

    .navbar {
    height: 4.5rem;
    z-index: 1;
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.73);
    }

    .logo {
        font-size: 2rem;
    }

    .navbar-toggle {
        font-size: 2.5rem;
    }

    .mobile-menu {
        top: 4.5rem;
        width: 20rem;
    }

    .main-menu {
        box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.73);
        background-color: black;
    }

    .main-menu li {
        font-size: 1.2rem;
        padding: .3rem;
    }
    .main-menu ul {
        padding: .2rem;
    }

}